<input id="img-{{id}}" type="radio" name="radio-btn" {{checkedText}} />
<span class="slide-container">
  <div class="slide">
    <img src="images/{{image}}.jpg" />
  </div>
  <div class="nav">
    <label class="prev" for="img-{{prevId}}">&#x2039;</label>
    <label class="next" for="img-{{nextId}}">&#x203a;</label>
  </div>
</span>